<h1>Beers Page</h1>
<p>This is the beers page content.</p>
{{#each beers}}
    <div class="beer">
        <img src="{{ image_url }}" alt="{{ name }}" class="beer.png">
        <h2>{{ name }}</h2>
        <p class="tagline">{{ tagline }}</p>
        <p>{{ description }}</p>
    </div>
{{/each}}
